fastapi[all]
uvicorn
pandas
jupyter
matplotlib
seaborn
sentence-transformers
pinecone
langchain
langchain-core
langchain-community
torch
torchvision
transformers
bitsandbytes
accelerate
Pillow
requests